
.nav-link-gdc{
  text-decoration: none !important;
  margin-left: 50%;
}
.nav-link-signup{
  text-decoration: none !important;
  /* margin-left: 60%; */  
}

.signup_btn{
  display :flex;
  align-items: center;
  justify-content: center;
}

.msg_error{
  color:red;
}
.blog_div_logout{
  display:flex;justify-content:flex-end;margin-right:5%;margin-top:5px;
}

.Heading_custom_0 {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(39, 44, 49);
  font-weight: 600;
  line-height: 1.2;
  margin: 0px;
  padding: 0;
}
.headingCloseTopW{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeIco{
  font-size: 14px;
  line-height: 20px;
  color: rgb(39, 44, 49);
  cursor: pointer;
}
.pdB16{
  padding-bottom: 16px !important;
}
.container_cu{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3.84px 0.16px rgba(115, 129, 143, 0.7);
  overflow: hidden;
}